body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

nav {
  background-color: #192F6B;
}

.hero-label {
  color: #b71c1c;
}

footer.page-footer {
  background-color: #192F6B;
}

.footer-copyright div {
  background-color: #192F6B;
}

input[type=text]:focus:not([readonly]) {
 border-bottom: 2px solid red;
 box-shadow: none;
}


nav .brand-logo {
  color: #e0e0e0;
}

nav ul li a {
  color: #e0e0e0;
}

/*.scoreBoard {
  width: 33%;
}*/

.teamText1 {
  height: 1vh;
}

.details {
	cursor: pointer;
}

.details:hover {
  text-decoration: underline;
}
