body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

nav {
  background-color: #43a047;
}

footer.page-footer {
  background-color: #43a047;
}

.footer-copyright div {
  background-color: #43a047;
}

h1 {
  color: #B38707;
}

h5 {
  color: #B38707;
}

img {
  height: auto;
  width: auto;
  opacity: .75;
}

.player_name p {
  min-height: 20vh;
  width: auto;
  flex-wrap: nowrap;
}


/*input .submit {
  padding: 1vh 0 0 0;
}*/
